<header>
    <div class="container">
        <div class="logo">
            <a href="/">Nitish Naineni</a>
        </div>
        <div class="header-controls">
            <button id="theme-toggle" aria-label="Toggle theme">
                <span class="material-symbols-outlined sun-icon"
                    >light_mode</span
                >
                <span class="material-symbols-outlined moon-icon"
                    >dark_mode</span
                >
            </button>
            <nav id="desktop-nav">
                <ul>
                    <li><a href="/resume/">Resume</a></li>
                    <li><a href="/blog/">Blog</a></li>
                    <li>
                        <a href="mailto:nainenitish+site@gmail.com"
                            >Contact Me</a
                        >
                    </li>
                </ul>
            </nav>
            <button
                id="hamburger-button"
                aria-label="Toggle navigation menu"
                aria-expanded="false"
                aria-controls="mobile-nav"
            >
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>
<nav id="mobile-nav">
    <ul>
        <li><a href="/resume/">Resume</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="mailto:nainenitish+site@gmail.com">Contact Me</a></li>
    </ul>
</nav>
