<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }} | Nitish Naineni</title>
        <script>
            (function () {
                const theme = localStorage.getItem("theme");
                const prefersDark = window.matchMedia(
                    "(prefers-color-scheme: dark)",
                ).matches;
                if (theme === "dark" || (!theme && prefersDark)) {
                    document.documentElement.classList.add("dark-theme");
                }
            })();
        </script>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@600&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
        />

        <link
            rel="stylesheet"
            href="https://unpkg.com/katex@latest/dist/katex.min.css"
        />

        <link
            rel="stylesheet"
            href="https://unpkg.com/prism-themes@1.9.0/themes/prism-okaidia.css"
        />

        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        {% include "_header.html" %}
        <main>{{ content | safe }}</main>
        {% include "_footer.html" %}

        <script src="/js/scripts.js"></script>
    </body>
</html>
